body{
    position:absolute;
    margin:0;
    height:100vh;
    background-color:#FBB;
    overflow:hidden;
}
.bg{
    height:100vh;
    background-color:#533;
    width:100vw;
}
#top{
    position:absolute;
    top:-70vh;
    left:0;
    box-shadow:0 10px 10px rgba(0,0,0,0.5),0 1px 1px rgba(0,0,0,.8);
    z-index:100;
}
#bottom{
    position:absolute;
    box-shadow:0 -5px 10px rgba(0,0,0,0.3);
    top:70vh;
    left:0;
    z-index:100;
}
#text{
    position:absolute;
    top:5vh;
    width:100vw;
    color:#DDD;
    z-index:200;
}
#title{
    z-index:100;
    font-size:60px;
    font-family:sans-serif;
    text-shadow:0 5px 10px rgba(0,0,0,1.0);
    text-align:center;
}
#subtitle{
    margin:20px;
    z-index:100;
    text-shadow:0 3px 8px rgba(0,0,0,1.0);
    font-size:20px;
    font-family:sans-serif;
    text-align:center;
}
#container{
    font-family:serif;
    position:absolute;
    width:80vw;
    left:10vw;
    top:calc(30vh + 30px);
    height:50vh;
    z-index=50;
    font-size:20px;
    text-align:center;
}
#shortURL{
    font-family:monospace;
}
#code{
    font-family:monospace;
    font-size:50px;
    margin:20px;
    color:black;
    text-shadow:0 3px 8px rgba(0,0,0,0.8);
}
